<html>
  <head>
    {% if user %}
    <title>{{ user.name }} - Hub Academy</title>
    {% else %}
    <title>Welcome to Hub Academy</title>
    {% endif %}
  </head>
  <body>
    <h1>Sign In</h1>
    <form name="login" action="login" method="post" accept-charset="utf-8">
        <ul>
            <li><label for="username">Username</label>
            <input id="username" type="text" name="username" placeholder="username" required></li>
            <li><label for="password">Password</label>
            <input id="password" type="password" name="password" placeholder="password" required></li>
            <li>
            <input type="submit" value="Login"></li>
        </ul>
    </form>
  </body>
</html>