<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>

<p class="question">1. What is 2 + 2?</p>

<ul class="answers">
<input type="radio" name="q1" value="a" id="q1a"><label for="q1a">1</label><br/>
<input type="radio" name="q1" value="b" id="q1b"><label for="q1b">2</label><br/>
<input type="radio" name="q1" value="c" id="q1c"><label for="q1c">3</label><br/>
<input type="radio" name="q1" value="d" id="q1d"><label for="q1d">4</label><br/>
</ul>